body {
  margin: 0;
  overflow: hidden;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: lightblue;
  border: 4px solid black;
  max-width: 95vw;
  height: auto;
}

